@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s; */
  animation-name: fade;
  animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#banner-about {
  background-image: url(https://cdn.shopify.com/s/files/1/0504/2932/9574/files/Flower_Wallpaper_Desktop_2_1.jpg?v=1617119371);
}
