@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SLIDESHOW THINGIE */

.slide {
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s; */
  animation-name: fade;
  animation-duration: 0.4s;
}

.dot-1,
.dot-2 {
  @apply cursor-pointer h-4 w-4 mx-2 rounded-full inline-block transition-colors ease-in duration-200;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* HIGHLIGHTED TABS */

.tab-selected {
  @apply cursor-default bg-cyan-darkest text-white;
}

/* Animated number */

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.num-counter {
  animation: counter 3s ease-in;
  animation-fill-mode: forwards;
  counter-reset: num var(--num);
  font: 800 48px system-ui;
}
.num-counter::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 234567;
  }
}

/* tags in add game */

.tag {
  @apply bg-white text-indigo-600 border-2 p-1 px-2 my-1 rounded-full transition-colors duration-100 hover:bg-red-600 hover:text-white;
}
