@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s; */
  animation-name: fade;
  animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
