<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is leader - about</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body class="font-kanit">
    <div class="w-full bg-gray-100">
      <div class="px-36 py-7">
        <div class="flex justify-between">
          <a href="/" class="">no backendStore</a>
          <div class="">
            <a href="/store" class="px-3">Store</a>
            <a href="/about" class="px-3">About</a>
            <a href="" class="px-3">Commu</a>
            <a href="" class="px-3">Support</a>
          </div>
          <div class="">
            <a href="/login" class="px-3">Log in</a>
          </div>
        </div>
      </div>
    </div>
    <!--end of nav-->

    <div
      class="w-full h-3/5 relative bg-contain bg-no-repeat bg-center"
      id="banner-about"
    >
      <span class="absolute bottom-28 right-40">ABBBBBBBOUT US</span>
    </div>
    <div class="py-6 px-10">
      <div class="py-4">
        <div class="text-3xl pb-3">About us</div>
        <p>We are kasdksjfkadljasdjkla</p>
      </div>
      <!--end of about us section-->

      <div class="py-4 text-3xl">Our team</div>
      <div class="grid grid-cols-2">
        <div class="w-60 flex">
          <img
            src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt=""
            class="p-3"
          />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">PHATTARAPOL LERTCHAISIRIKUL</div>
            <div>Team leader</div>
          </div>
        </div>
        <div class="w-60 flex">
          <img src="img/team/SDE_edited.jpg" alt="" class="p-3" />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">PHATTARAPOL LERTCHAISIRIKUL</div>
            <div>pen tuk yang hai ter laew</div>
          </div>
        </div>
        <div class="w-60 flex">
          <img
            src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt=""
            class="p-3"
          />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">PHATTARAPOL LERTCHAISIRIKUL</div>
            <div>Team leader</div>
          </div>
        </div>
        <div class="w-60 flex">
          <img
            src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt=""
            class="p-3"
          />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">PHATTARAPOL LERTCHAISIRIKUL</div>
            <div>Team leader</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
