<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is leader - about</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body class="font-kanit bg-gradient-to-t
  from-cyan-black
  to-cyan-darkest text-white">
    <%- include("./nav") %>
    <!--end of nav-->
    <div class="py-6 px-10">
      <div class="py-4">
        <p class="text-4xl text-center pb-10 pt-10 bg-blend-lighten md:bg-blend-darken"> " Storm is the ultimate destination for <br>
          playing, discussing, and distributing games. "</p>
        <div class="text-3xl py-10 pb-3 ">About Storm</div>
        <p class="text-xl pl-7"> Storm is a website that was create for the sole purposes of education only.<br>
        It is a simulation of digital game store that use noSQL database to collect, keep and display the data.  </p>
      </div>
      <div class="py-4">
        <div class="text-3xl py-10 pb-3">About us</div>
        <p class="text-xl pl-7"> We are students from King Mongkut's University of Technology Thonburi and we are study in faculty of computer engineering.</p>
      </div>
      <!--end of about us section-->

      <div class="py-4 text-3xl py-10">Our team</div>
      <div class="grid grid-cols-2">
        <div class="h-80 flex">
          <img src="img/team/book_edit.jpg" alt="" class="p-3" />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">PHOLPHAT KITTIVITTAYAKUL</div>
            <div>Chief executive officer.</div>
          </div>
        </div>
        <div class="h-80 flex">
          <img src="img/team/SDE_edited.jpg" alt="" class="p-3" />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">PHATTARAPOL LERTCHAISIRIKUL</div>
            <div>Programmer.</div>
          </div>
        </div>
        <div class="h-80 flex">
          <img src="img/team/Poj_edit.jpg" alt="" class="p-3" />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">POJNARIN NANTA</div>
            <div>Marketing Manager.</div>
          </div>
        </div>
        <div class="h-80 flex">
          <img src="img/team/wong_edit.jpg" alt="" class="p-3" />
          <div class="flex-shrink-0 p-3">
            <div class="text-lg tracking-wide">SORAWONG LEARDMONGKONRUT</div>
            <div>Finance Manager.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
