<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is leader - about</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body>
    <div class="">
      <div class="w-full bg-gray-100">
        <div class="px-36 py-7">
          <div class="flex justify-between">
            <a href="/" class="">no backendStore</a>
            <div class="">
              <a href="/store" class="px-3">Store</a>
              <a href="/about" class="px-3">About</a>
              <a href="" class="px-3">Commu</a>
              <a href="" class="px-3">Support</a>
            </div>
            <div class="">
              <a href="/login" class="px-3">Log in</a>
              <a href="/signup" class="px-3">sign up</a>
            </div>
          </div>
        </div>
      </div>
      <!--end of nav-->
      <div>
        <div class="flex">
          <span class="text-3xl py-6 px-10">About us</span>
        </div>
      </div>
    </div>
  </body>
</html>
