<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add DLC</title>
</head>
<body>
    <h1>Select game to add DLC</h1>
    <% for(d of data) { %>
        <div><a href="/add-dlc?name=<%= d.name %> "><%= d.name %> </a></div>
    <% } %> 
</body>
</html>