<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css" />
    <title>Add Friends</title>
</head>

<body class="bg-cyan-black text-white font-kanit font-light h-screen">
    <%- include("./nav_publisher.ejs") %>
    <!--end of nav-->
    <div class="px-24 text-4xl py-3 bg-gradient-to-t from-cyan-darkest to-cyan-black text-center font-semibold">Add friend
    </div>
    <form action="/addfriend" method="POST" enctype="multipart/form-data" class="px-24 py-2 bg-gray-850 bg-opacity-70">
            <div>Friend Name:</div>
            <% for(d of data.name) { %>
                <div><%= d.name %></div>
            <% } %> 
            <div class=" w-3/5 p-1 m-1 flex flex-wrap gap-1" id="tag-container">
                <div class=" rounded-full bg-white text-indigo-700 font-normal text-xl p-1 px-3.5 cursor-pointer transition-colors duration-100 hover:bg-indigo-700 hover:text-white"
                    onclick="enableInput()" id="plus-sign">+</div>
                <div class="relative">
                    <input type="text" class=" flex-1 bg-white text-black p-1.5 px-2 outline-none rounded-full hidden"
                        onkeyup="filterSearch()">
                    <!-- search goes here-->
                    <ul class="myUl absolute w-48 bg-white text-black hidden">

                    </ul>
                </div>
            </div>
            <div class="hidden" id="submit-parser">
            </div>
        <div class="py-6">
            <button type="submit" class="
            border-2 border-cyan-lightest
            text-cyan-lightest
            rounded-md
            shadow
            inline-block
            transition-colors
            duration-100
            bg-transparent
            hover:text-white
            hover:bg-cyan-lightest
            cursor-pointer
            px-2
            ">SUMMIT</button>
        </div>
    </form>
    <%- include ("./footer") %>

    <!-- end of content -->
    <script> const availableTags = [asd,asdasd,asdasdasd];
    </script>

    <script src="scripts/tagsWithFilterSearch_custom.js"></script>
</body>

</html>