<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css" />
    <title>Add game</title>
</head>
<body class="bg-cyan-black text-white font-kanit font-light h-screen">
    <%- include("./nav") %>
      <!--end of nav-->
    <div class="px-24 text-4xl py-3 bg-gradient-to-t from-cyan-darkest to-cyan-black text-center font-semibold">Add game</div>
    <form action="/addgame" method="POST" enctype="multipart/form-data" class="px-24 py-2 bg-gray-850 bg-opacity-70">

        <div class="py-2">
            <label>Game name : </label><input type="text" name="gamename" placeholder="Game name" class="text-black" required/>
        </div>
        <div class="py-2">
            <label>Category : </label>
            <div class="px-2">
            <input type="checkbox" name="category" value="Action"/><label> Action  </label>
            <input type="checkbox" name="category" value="Adventure"/><label> Adventure  </label>
            <input type="checkbox" name="category" value="Moba"/><label> Moba  </label>
            <input type="checkbox" name="category" value="Multiplayer"/><label> Multiplayer  </label>
            <input type="checkbox" name="category" value="Racing"/><label> Racing  </label>
            <input type="checkbox" name="category" value="RPG"/><label> RPG  </label>
            <input type="checkbox" name="category" value="Strategy"/><label> Strategy</label>
            </div>
        </div>
            <label>Description : </label><br><textarea cols='50' rows='5' name="description" placeholder="Game description" class="text-black" required></textarea>
        </div>
        <div class="py-4">
            <label>System Requirement</label>
            <div class="px-2 py-2">
            <label>OS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label><input type="text" name="os" class="text-black" class="text-black inline-block" required/>
            </div>
            <div class="px-2 py-2">
            <label>CPU&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label><input type="text" name="cpu" class="text-black" class="text-black inline-block" required/>
            </div>
            <div class="px-2 py-2">
            <label>RAM&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label><input type="text" name="ram" class="text-black" class="text-black inline-block" required/>
            </div>
            <div class="px-2 py-2">
            <label>GPU&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label><input type="text" name="gpu" class="text-black" class="text-black inline-block" required/>
            </div>
            <div class="px-2 py-2">
            <label>HDD&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label><input type="text" name="hdd" class="text-black" class="text-black inline-block" required/>
            </div>
        </div>
        <div class="py-2">
            <label>Publisher name : </label><input type="text" name="publishername" placeholder="publisher name" class="text-black" required/>
        </div>
        <div class="py-2">
            <label>Developer name : </label><input type="text" name="developername"placeholder="developer name" class="text-black" required/>
        </div>
        <div class="py-4">
            <input type="file" name="imgfile" accept="image/*" required/>
        </div>
        <div class="py-6">
            <button type="submit" class="button bg-blue-500 hover:bg-blue-700 text-white-700 h-7 w-28">OK</button>
        </div>
    </form>
    <%- include ("./footer") %> 
</body>
</html>