<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./compiled.css" />
    <title >Error - Not found</title>
</head>
<style>
    div.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
</style>
<body class="bg-gradient-to-t from-cyan-black to-cyan-darkest text-white font-kanit font-light min-h-screen">
  <% if(role=="publisher" ){ %>
    <%- include("./nav_publisher") %>
  <% } else if(role == "admin") { %>
    <%- include("./nav_admin.ejs") %>
  <% } else { %>
    <%- include("./nav") %>
  <% } %>
      <!--end of nav-->
    <div class="rounded-md mx-56 my-4 px-10 py-14 bg-gray-900 bg-opacity-70">
        <div class="text-5xl font-semibold text-center pt-10">Error 404 :
        </div>
        <div class="text-7xl font-semibold text-center pt-5 pb-10">Page Not found
        </div>
        <div class="text-center text-xl pt-1 pb-20">
          Sorry! This page you are looking for cannot be found.
        </div>
        <a href="/" class="
                border-2 border-indigo-700
                text-indigo-700
                rounded-md
                shadow
                my-6
                inline-block
                transition-colors
                duration-100
                hover:text-white
                hover:bg-indigo-700
                cursor-pointer
              ">
          <div class="py-2 px-3">Go back to Home page</div>
        </a>
    </div>
    <!--end of Content-->
</body>
<footer>
  <div class="bottom">
  <%- include ("./footer") %> 
  </div>
</footer>
</html>