<div class=" w-full bg-gray-900 text-gray-300 text-sm">
    <div class=" flex justify-evenly justify-items-center py-3">
        <div>Privacy Policy</div>
        <div>Legal</div>
        <a href="/" class="animate-bounce">no backendStore</a>
        <div>Refunds</div>
        <div class=" self-center">
            <img src="https://store.akamai.steamstatic.com/public/images/ico/ico_facebook.gif" alt=""
                class=" inline-block">
            <span>storm</span>
        </div>
    </div>
</div>