<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is the leader</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body class="font-kanit font-light">
    <%- include("./nav") %>
    <!--end of nav-->

    <div class="flex">
      <div class="w-1/6 bg-cyan-blackest text-gray-300">
        <ul>
          <li><h6 class="uppercase tracking-wide px-3">Browse category</h6></li>
          <li><h6 class="uppercase tracking-wide px-3">Browse by genre</h6></li>
          <li></li>
        </ul>
      </div>
      <!--end of sidebar-->

      <div class="px-4 bg-cyan-black text-gray-300 pt-10 flex-auto">
        <div class="mb-10 mx-4 text-white text-lg tracking-wider">
          FEATURED & RECOMMENDED
        </div>

        <div class="">
          <div class="flex">
            <div
              class="
                max-h-80
                overflow-hidden
                m-auto
                max-w-screen-md
                shadow-lg
                hover:shadow-xl
              "
            >
              <div class="slide hidden">
                <img src="img/game_demo/pacma.jpg" alt="" class="w-full" />
              </div>
              <div class="slide transition-opacity duration-700 hidden">
                <img src="img/game_demo/contra.png" alt="" class="w-full" />
              </div>
              <div class="slide transition-opacity duration-700 hidden">
                <img src="img/game_demo/space.png" alt="" class="w-full" />
              </div>
              <div class="slide transition-opacity duration-700 hidden">
                <img src="img/game_demo/diablo.png" alt="" class="w-full" />
              </div>
            </div>
          </div>
          <!--end of slides-->
          <div class="text-center py-3">
            <span class="dot bg-gray-600" onclick="currentSlide(1)"></span>
            <span class="dot bg-gray-600" onclick="currentSlide(2)"></span>
            <span class="dot bg-gray-600" onclick="currentSlide(3)"></span>
            <span class="dot bg-gray-600" onclick="currentSlide(4)"></span>
          </div>
          <!--end of dots-->
        </div>
        <!--end of slideshow 1-->
        <div class="pt-3">
          <span class="px-2 bg-cyan-darkest rounded-t-lg"
            >New and Trending</span
          >
          <span class="px-2">Top Sellers</span>
          <span class="px-2">Popular Upcoming</span>
        </div>
      </div>
    </div>
    <!--end of 1st section-->
    <div
      class="
        w-full
        bg-gradient-to-t
        from-cyan-black
        to-cyan-darkest
        flex
        justify-end
        text-gray-300
      "
    >
      <div class="w-5/6 px-4 h-80 flex">
        <div class="bg-cyan-lightblack my-2 w-2/3">
          <div class="flex justify-end py-1">Filter by:</div>
          <% for(d of data){ %>
            <div class="w-full border-double border-yellow-500 border-2 py-2">
              <%= d.name %> 
            </div>
          <% } %> 
        </div>
        <!--end of game list-->
      </div>
    </div>
    <!--end of 2nd section-->

    <!--end of content-->

    <script src="./scripts/slideshow1.js"></script>
  </body>
</html>
