<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is the leader</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body>
    <div class="w-full bg-gray-100">
      <div class="px-36 py-7">
        <div class="flex justify-between">
          <a href="/" class="">no backendStore</a>
          <div class="">
            <a href="/store" class="px-3">Store</a>
            <a href="/about" class="px-3">About</a>
            <a href="" class="px-3">Commu</a>
            <a href="" class="px-3">Support</a>
          </div>
          <div class="">
            <% if(locals.username){ %>
            <a href="/userinfo" class="px-3"><%= username %></a>
            <a href="/logout" class="px-3">Log out</a>
            <% } else{ %>
            <a href="/login" class="px-3">Log in</a>
            <a href="/signup" class="px-3">sign up</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!--end of nav-->

    <div class="">
      <div></div>
      <div class="flex">
        <div class="w-1/5 bg-gray-300"></div>
        <div class="bg-gray-900 px-4 pt-10 flex-auto">
          <div class="pb-10">
            <div class="mb-10 mx-4">
              <h3 class="text-white text-lg tracking-wider">
                FEATURED & RECOMMENDED
              </h3>
            </div>
            <div>
              <div class="max-w-screen-md max-h-80 overflow-hidden m-auto">
                <div class="slide transition-opacity duration-700 hidden">
                  <img src="img/pacma.jpg" alt="" class="w-full" />
                </div>
                <div class="slide transition-opacity duration-700 hidden">
                  <img src="img/contra.png" alt="" class="w-full" />
                </div>
                <div class="slide transition-opacity duration-700 hidden">
                  <img src="img/space.png" alt="" class="w-full" />
                </div>
                <div class="slide transition-opacity duration-700 hidden">
                  <img src="img/diablo.png" alt="" class="w-full" />
                </div>
              </div>
              <div class="text-center">
                <span
                  class="
                    dot
                    cursor-pointer
                    h-4
                    w-4
                    mx-2
                    rounded-full
                    inline-block
                    transition-colors
                    ease-in
                    duration-200
                    bg-gray-600
                  "
                  onclick="currentSlide(1)"
                ></span>
                <span
                  class="
                    dot
                    cursor-pointer
                    h-4
                    w-4
                    mx-2
                    rounded-full
                    inline-block
                    transition-colors
                    ease-in
                    duration-200
                    bg-gray-600
                  "
                  onclick="currentSlide(2)"
                ></span>
                <span
                  class="
                    dot
                    cursor-pointer
                    h-4
                    w-4
                    mx-2
                    rounded-full
                    inline-block
                    transition-colors
                    ease-in
                    duration-200
                    bg-gray-600
                  "
                  onclick="currentSlide(3)"
                ></span>
                <span
                  class="
                    dot
                    cursor-pointer
                    h-4
                    w-4
                    mx-2
                    rounded-full
                    inline-block
                    transition-colors
                    ease-in
                    duration-200
                    bg-gray-600
                  "
                  onclick="currentSlide(4)"
                ></span>
              </div>
            </div>
            <!--end of slideshow 1-->
          </div>
        </div>
      </div>
    </div>
    <!--end of content-->

    <script src="index.js"></script>
  </body>
</html>
