<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is the leader</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body class="font-kanit font-light">
    <div class="w-full bg-gray-900 text-gray-300">
      <div class="px-36 py-7">
        <div class="flex justify-between">
          <a href="/" class="">no backendStore</a>
          <div class="">
            <a
              href="/store"
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              >Store</a
            >
            <a
              href="/about"
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              >About</a
            >
            <a
              href=""
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              >Commu</a
            >
            <a
              href=""
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              >Support</a
            >
          </div>
          <div class="">
            <% if(locals.username){ %>
            <a
              href="/userinfo"
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              ><%= username %></a
            >
            <a
              href="/logout"
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              >Log out</a
            >
            <% } else{ %>
            <a
              href="/login"
              class="
                px-3
                transition-colors
                duration-100
                ease-in
                hover:text-white
              "
              >Log in</a
            >
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!--end of nav-->

    <div class="flex">
      <div class="w-1/5 bg-gray-300">
        <ul>
          <li><h6 class="uppercase tracking-wide px-3">Browse category</h6></li>
          <li><h6 class="uppercase tracking-wide px-3">Browse by genre</h6></li>
          <li></li>
        </ul>
      </div>
      <!--end of sidebar-->

      <div class="bg-gray-900 px-4 pt-10 flex-auto">
        <div class="pb-10">
          <div class="mb-10 mx-4">
            <h3 class="text-white text-lg tracking-wider">
              FEATURED & RECOMMENDED
            </h3>
          </div>
          <div>
            <div class="max-w-screen-md max-h-80 overflow-hidden m-auto">
              <div class="slide hidden">
                <img src="img/game_demo/pacma.jpg" alt="" class="w-full" />
              </div>
              <div class="slide transition-opacity duration-700 hidden">
                <img src="img/game_demo/contra.png" alt="" class="w-full" />
              </div>
              <div class="slide transition-opacity duration-700 hidden">
                <img src="img/game_demo/space.png" alt="" class="w-full" />
              </div>
              <div class="slide transition-opacity duration-700 hidden">
                <img src="img/game_demo/diablo.png" alt="" class="w-full" />
              </div>
            </div>
            <div class="text-center">
              <span
                class="
                  dot
                  cursor-pointer
                  h-4
                  w-4
                  mx-2
                  rounded-full
                  inline-block
                  transition-colors
                  ease-in
                  duration-200
                  bg-gray-600
                "
                onclick="currentSlide(1)"
              ></span>
              <span
                class="
                  dot
                  cursor-pointer
                  h-4
                  w-4
                  mx-2
                  rounded-full
                  inline-block
                  transition-colors
                  ease-in
                  duration-200
                  bg-gray-600
                "
                onclick="currentSlide(2)"
              ></span>
              <span
                class="
                  dot
                  cursor-pointer
                  h-4
                  w-4
                  mx-2
                  rounded-full
                  inline-block
                  transition-colors
                  ease-in
                  duration-200
                  bg-gray-600
                "
                onclick="currentSlide(3)"
              ></span>
              <span
                class="
                  dot
                  cursor-pointer
                  h-4
                  w-4
                  mx-2
                  rounded-full
                  inline-block
                  transition-colors
                  ease-in
                  duration-200
                  bg-gray-600
                "
                onclick="currentSlide(4)"
              ></span>
            </div>
          </div>
          <!--end of slideshow 1-->
        </div>
      </div>
    </div>

    <!--end of content-->

    <script src="index.js"></script>
  </body>
</html>
