<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wong is the leader</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body>
    <div class="w-full bg-gray-100">
      <div class="px-36 py-7">
        <div class="flex justify-between">
          <a href="/" class="">no backendStore</a>
          <div class="">
            <a href="/store" class="px-3">Store</a>
            <a href="/about" class="px-3">About</a>
            <a href="" class="px-3">Commu</a>
            <a href="" class="px-3">Support</a>
          </div>
          <div class="">
            <a href="/login" class="px-3">Log in</a>
            <a href="/signup" class="px-3">sign up</a>
          </div>
        </div>
      </div>
    </div>
    <!--end of nav-->
    <div class="">
      <div></div>
      <div class="flex">
        <div class="w-1/5 bg-gray-500"></div>
        <div class="bg-gray-600 px-4 py-10 flex-auto">
          <div>
            <h3 class="text-white text-lg tracking-wider">
              FEATURED & RECOMMENDED
            </h3>
          </div>
          <div class="max-w-screen-lg relative m-auto">
            <img
              src="img/pacma.jpg"
              alt=""
              class="hidden w-full"
            />
            <img
              src="img/contra.png"
              alt=""
              class="hidden w-full"
            />
            <img
              src="img/space.png"
              alt=""
              class="hidden w-full"
            />
            <img
              src="img/diablo.png"
              alt=""
              class="hidden w-full"
            />
          </div>
          <!--end of slide 1-->
      </div>
    </div>
    <!--end of content-->
  </body>
</html>
