<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STROM for Publisher</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>
  <body class="font-kanit font-light bg-cyan-lightblack">
    <%- include("./nav_publisher") %>
    <!--end of nav-->
    <div
      class="
        w-full
        bg-gradient-to-t
        from-cyan-black
        to-cyan-darkest
        flex
        justify-end
        text-gray-300
      "
    >
    Promotion Code
        <!--GAME TABLE INSERT HERE-->

        <!--end of game list-->
      </div>
    </div>
    <!--end of 2nd section-->

    <!--end of content-->
  </body>
</html>
