<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./compiled.css" />
    <title >Register</title>
</head>
<body class="bg-gradient-to-t from-cyan-black to-cyan-darkest text-white font-kanit font-light h-screen">
    <%- include("./nav") %>
      <!--end of nav-->
    <div class="px-24 text-4xl py-14 bg-gradient-to-t from-cyan-darkest to-cyan-black text-center font-semibold">Register</div>
    <% if(!success){ %>
        <div style="color: red" class="px-24">This username already exists!</div>
    <% } %> 
    <form action="/register" method="post" class="px-24 py-10 bg-gray-900 bg-opacity-70">
        <div class="py-2">
        <label>Username : </label><input type="text" name="username" placeholder="Username" class="text-black" required/>
        </div>
        <div class="py-2">
        <label>Password : </label><input type="password" name="password" placeholder="Password" class="text-black" required/>
        </div>
        <div class="py-2">
        <label>Firstname : </label><input type="text" name="fname" placeholder="Firstname" class="text-black" required/>
        </div>
        <div class="py-2">
        <label>Lastname: </label><input type="text" name="lname" placeholder="Lastname" class="text-black" required/>
        </div>
        <div class="py-2">
        <label>Gender : </label>
        <input type="radio"  name="gender" value="male"class="text-black">
        <label for="male">Male</label>
        <input type="radio"  name="gender" value="female"class="text-black">
        <label for="female">Female</label>
        <input type="radio"  name="gender" value="other"class="text-black">
        <label for="other">Other</label>
        </div>
        <div class="py-2">
        <label>Date of birth : </label><input type="date" name="dob" class="text-black" required/>
        </div>
        <div class="py-2">
        <label>Email : </label><input type="email" name="email" class="text-black" placeholder="testing@mail.com"required/>
        </div>
        <div class="py-2">
        <label>Tel : </label><input type="tel" name="tel" class="text-black focus:ring-2 focus:ring-blue-600" placeholder="0XXXXXXXXX" pattern="[0-9]{10}" required/>
        </div>
        <div class="py-6">
        <input type="submit" value="Submit" class="
        border-2 border-cyan-lightest
        text-cyan-lightest
        rounded-md
        shadow
        inline-block
        transition-colors
        duration-100
        bg-transparent
        hover:text-white
        hover:bg-cyan-lightest
        cursor-pointer
        px-2
        ">
        </div>
    </form>
    <%- include ("./footer") %> 
</body>
</html>