<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search game</h1>
    <form action="/search" method="POST">
        <input type="text" name="searchGame">
        <button>Go</button>
    </form>
    <table>
        <tr>
            <th>
                game
            </th>
        </tr>
        <% for(d of data){ %>
            <tr>
                <td><%= d.name %></td>  
              </tr>
        <% } %> 
    </table>
</body>
</html>