<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./compiled.css" />
    <title >support success</title>
</head>
<style>
    div.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
</style>
<body class="bg-gradient-to-t from-cyan-black to-cyan-darkest text-white font-kanit font-light h-screen">
    <%- include("./nav") %>
      <!--end of nav-->
    <div class="rounded-md mx-56 my-4 px-10 py-14 bg-gray-900 bg-opacity-70">
        <div class="text-5xl font-semibold pt-10">Sent letter to support
        </div>
        <div class="pt-10">
            Your problem has been sent to support.
        </div>
        <div class="pt-1">
          We will contact you via your email shortly.
      </div>
        <div class="pt-1 pb-36">
            Thank you for using STORM™
        </div>
        <a href="/" class="
                border-2 border-indigo-700
                text-indigo-700
                rounded-md
                shadow
                my-6
                inline-block
                transition-colors
                duration-100
                hover:text-white
                hover:bg-indigo-700
                cursor-pointer
              ">
          <div class="py-2 px-3">Go back to Home page</div>
        </a>
    </div>
    <!--end of Content-->
    <div class="bottom">
    <%- include ("./footer") %> 
    </div>
    <!--end of footer-->
</body>
</html>